@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;800&display=swap');

body{
    font-family: 'Shippori-Mincho', serif;
}
header, footer{
    background-color: #3aa3a0;
    color: #f7d330;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
main{
    padding: 1em;
}
a {
	text-decoration: none;
}
nav{
    background-color: #8ae2e0;
    text-align: center;
    display: flex;
    flex-direction: column;

}
nav ul li{
    font-size: 18pt;
    color: blue;
    flex: 1 1 auto;
    list-style-type: none;
}

.visiting{
    /* background-color: #F7d330; */
    border-bottom: 0.5em solid yellow;
    height: 40px;
}
.color-palete{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#sample2{
    font-size: 34pt;
    color: #f6c324;
    background-color: #3aa3a0;
}
#sample3{
    font-size: 18pt;
    color: blue;
    background-color: #8ae2e0;

}
#sample4{
    font-size: 20pt;
}
#sample5{
    color: black;
    font-size: 11pt;
    background-color: white;
}



@media only screen and (min-width: 60em) {
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
body{
    padding-left: 10em;
    padding-right: 10em;
}
}

/* @media only screen and (min-width: 20em) {
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    body{
        padding-left: 5em;
        padding-right: 5em;
    }    
} */
