html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    padding-left: 1em;
    padding-right: 1em;
}

header{
    text-align: center;
    background-color: yellow;
    max-width: 100%;
    align-tracks: center;
}
nav, footer {
    margin: 0 auto;
    max-width: 90%;
    background-color: lightblue;
    text-align: center;
}
.navigation {
    list-style-type: none;
    padding: 0;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    /* padding: 0.5rem; */
    text-align: left;
    color: black;
    font-weight: 500;
    transition: 0.3s;
    list-style-type: none;
}
.navigation a:hover {
	color: white;
	/* background-color: yellow; */
    border-bottom: 0.5em solid yellow;
}
.responsive li{
    display: block;
}

img{
    position: fixed;
    top: 0;
    left: 0;
    /* margin-left: 20em;
    margin-top: 5em; */ 
    /*I am not wearing these two lines because they don't allow the umberlla logo to move responsively*/
}
.title2{
    text-align: center;
}