/* small */
body {
    background-color: white;
}
/* header */
header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #fff1b1;
    padding: 2em;
    height: 180px;
}
.logo {
    width: 60px;
    grid-column: 2/3;
    float: left;
    border-radius: 75%;
    padding-right: 10px;
}
.scoots {
    display: inline;
}
header h1{
    text-decoration: none;
    list-style-type: none;
    font-size: 2em;
}
header h4{
    font-size: 0.75em;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    font-size: 0.75em;
}
.contact h3{
    text-align: right;
}
.contact h5{
    text-align: left;
}
.media {
    text-align: right;
    padding: 0.5em;
}
.media img{
    width: 30px;
    height: 30px;
    margin-top: -15px;
}
/* Nav bar*/
.navigation li:first-child{
    display: inline;
}
.navigation li{
    display: none;
}
.responsive li{
    display: block;
}

main nav, footer{
    background-color: #a52323;
    display: flex; 
    justify-content: center;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 1.2em;
}
nav a:hover{
    background-color: #dc8b18;
}
nav a.active {
    background-color: #dc8b18;
}
/* main */
.grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
/* BUTTON*/
.button{
    padding-top: 10em;
}
button{
    color: white;
    background-color: blue;
    height: 80px;
    width: 200px;
    border-radius: 50%;
}
button:hover{
    background-color: #dc8b18;
}
.rental{
    text-align: left;
    margin-left: 2em;
}
section .rentals {
    border: 5px solid #a52323;
    padding: 1em;
    text-align: center;
}
.rentals-grid{
    padding: 1em;
    display: grid;
    grid-template-rows: auto;
    gap: 1em;
}
#rental{
    text-align: center;
}
/*Reservations*/
.reserve{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2em;
    width: 80%;
}
form{
    display: grid;
}
.reserved{
    border-radius: 25px;
    height: 45px;
    
}
.rule, .form {
    margin-left: 2em;
}

.rule {
    border: 5px solid #dc8b18;
    border-radius: 15% 15%;
}
.rule h2{
    text-align: center;
}
/*TOURS*/
.tours{
    padding: 1em;
}
.island{
    border: 5px solid yellow;
}
#one, #two, #three{
    border: 5px solid green;
    padding: 1em;
}
.others-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    text-align: center;

}
.island img, h2{
    width: 450px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.imgothers{
    width: 250px;
    height: 150px;
}
/*contact*/
.form2{
    width: 80%;
    display: block;
    margin-left: 40px;
}
.map {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    padding: 2em;
}


/*footer*/
footer h5, h6, a{
    color:white;
}
